/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*body {*/
/*    font-family: 'Arial', sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background: linear-gradient(to right, #DE6262, #FFB88C);*/
/*}*/

/*.hall-container {*/
/*    text-align: center;*/
/*    margin: 100px auto;*/
/*    max-width: 600px;*/
/*    padding: 100px;*/
/*}*/

/*.function-buttons button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 10px 0;*/
/*    font-size: 16px;*/
/*    background-color: whitesmoke;*/
/*    color: black;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.function-buttons button:hover {*/
/*    background-color: #00796b;*/
/*}*/

/*header {*/
/*    height: 50px;*/
/*    background-color: #333; !* 设置顶部背景颜色 *!*/
/*    color: white; !* 设置文本颜色为白色 *!*/
/*    padding: 10px 20px; !* 设置顶部内边距 *!*/
/*    display: flex; !* 使用 Flex 布局使得子元素横向排列 *!*/
/*    justify-content: space-between; !* 使得子元素在水平方向上均匀分布 *!*/
/*    position: relative; !* 固定在页面顶部 *!*/
/*    width: 100%; !* 使得 header 占满整个屏幕宽度 *!*/
/*    z-index: 1000; !* 提高层级，确保 header 处于最上层 *!*/
/*}*/

/*#logoutButtonContainer {*/
/*    background-color: rgba(255, 255, 255, 0.5); !* 半透明白色背景 *!*/
/*    padding: 5px 10px; !* 设置内边距 *!*/
/*    border-radius: 5px; !* 圆角边框 *!*/
/*    display: flex; !* 使用 Flex 布局，使子元素横向排列 *!*/
/*    position: absolute;*/
/*    right: 50px;*/
/*    align-items: center; !* 垂直居中子元素 *!*/
/*}*/

/*#logoutButton {*/
/*    background-color: #007bff; !* 设置按钮背景颜色 *!*/
/*    color: white; !* 设置按钮文本颜色为白色 *!*/
/*    border: none; !* 去除按钮边框 *!*/
/*    padding: 8px 12px; !* 设置按钮内边距 *!*/
/*    border-radius: 3px; !* 圆角边框 *!*/
/*    cursor: pointer; !* 设置光标样式为手型 *!*/
/*}*/

/*!* 调整侧边栏样式 *!*/
/*#sidebar {*/
/*    height: 100%; !* 设置侧边栏高度为100% *!*/
/*    background-color: #333; !* 设置侧边栏背景颜色 *!*/
/*    color: white; !* 设置文本颜色为白色 *!*/
/*    padding-top: 10px; !* 设置上边距 *!*/
/*    position: fixed; !* 固定在页面左侧 *!*/
/*    width: 250px; !* 设置侧边栏宽度 *!*/
/*    z-index: 1; !* 提高层级，确保侧边栏处于最上层 *!*/
/*}*/

/*#sidebar ul.components {*/
/*    padding: 20px 0; !* 设置列表内边距 *!*/
/*}*/

/*#sidebar ul li a {*/
/*    color: white; !* 设置链接文本颜色为白色 *!*/
/*    text-decoration: none; !* 去除链接下划线 *!*/
/*    display: block; !* 设置链接为块级元素，占满整个宽度 *!*/
/*    padding: 10px; !* 设置列表项内边距 *!*/
/*    transition: background-color 0.3s; !* 添加背景颜色渐变效果 *!*/
/*}*/

/*#sidebar ul li a:hover {*/
/*    background-color: #555; !* 设置鼠标悬停时的背景颜色 *!*/
/*}*/

/*#content {*/
/*    margin-left: 250px; !* 设置内容区域左边距，与侧边栏宽度相同 *!*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

/* 白色主题 */
/* :root {
    --color-menu-bg: #fff;
    --font-color-mi: #000;
    --font-color-mi-hover: #1890ff;
    --color-bg-mi-hover: #ececec;
    --border-radius-mi: 2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #d3d3d3;
} */

/*黑色主题，使用时把上面的白色主题注释掉，启用下面的css代码*/
:root {
    --color-bg: #e7e7e7;
    --color-menu-bg: #232324;
    --font-color-mi: #c9cdd4;
    --font-color-mi-hover: #a649d1;
    --color-bg-mi-hover: #303030;
    --border-radius-mi: 2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #333333;
}

header {
    background-color: var(--color-menu-bg);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#username {
    color: var(--font-color-mi);
    font-weight: 600;
    margin-right: 20px;
}

#logoutButtonContainer {
    background-color: var(--color-menu-bg);
    padding: 5px 10px;
    border-radius: var(--border-radius-mi);
    display: flex;
    align-items: center;
}

#logoutButton {
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi);
    border: none;
    padding: 8px 12px;
    border-radius: var(--border-radius-mi);
    cursor: pointer;
}


.content {
    background-color: #e7e7e7;
    min-height: 100vh;
}

.menu-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    min-height: 92vh;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: var(--color-menu-bg);
}

.menu-box input[type='checkbox'] {
    display: none;
}

.menu-box>label {
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px #000;
    background-color: var(--color-menu-bg);
    color: var(--font-color-mi);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-box>label>i {
    font-weight: 900;
    text-indent: -3px;
    font-size: 20px;
    transition: transform var(--transition-menu-time);
    transform: rotate(0deg);
}

.menu-box>label:hover {
    box-shadow: 0px 0px 2px 0px #000;
    color: var(--font-color-mi-hover);
}

.menu-box>input#menu-btn:checked+label>i {
    transform: rotate(180deg);
}

.menu {
    font-size: 18px;
    width: 220px;
    min-height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: width var(--transition-menu-time);
    color: var(--font-color-mi);
}

.menu-box>input#menu-btn:checked~.menu {
    width: 0;
}

.menu-title {
    text-align: center;
    margin-bottom: 10px;
}

.menu-item>label {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: var(--border-radius-mi);
    display: flex;
    align-items: center;
}

.menu-item>label:hover {
    color: var(--font-color-mi-hover);
}

.menu-item>label>i:first-child {
    flex: none;
    margin-right: 6px;
    font-size: 24px;
}

.menu-item>label>span {
    flex: 1;
}

.menu-item>label>i:last-child {
    flex: none;
    font-size: 20px;
    font-weight: 900;
    transform: rotate(0deg);
    transition: transform var(--transition-menu-time);
}

.menu-item>input:checked+label>i:last-child {
    transform: rotate(180deg);
}

.menu-content {
    height: 0;
    overflow: hidden;
    transition: height var(--transition-menu-time);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-menu-bg);
}

/* 选项，若 n 项，就 n * 40px */
.menu-item>input#menu-item1:checked~.menu-content {
    height: calc(3 * 40px);
}

.menu-item>input#menu-item2:checked~.menu-content {
    height: calc(2 * 40px);
}

.menu-item>input#menu-item3:checked~.menu-content {
    height: calc(3 * 40px);
}

.menu-content>span {
    width: 100%;
    text-indent: 20px;
    line-height: 40px;
    border-radius: var(--border-radius-mi);
}

.menu-content>span:hover {
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}

.set-line {
    margin: 20px 0 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-line-bg);
}
