/* 重置全局样式 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

.longevity-container {
    height: 300px;
    width: 500px;
    background-color: whitesmoke;
    margin: 200px auto;
    border-radius: 15px;
    border: 2px solid black;
}


.longevity-container label {
    float: left;
    display: block;
    margin: 43px 50px;
    font-size: 20px;
    text-align: left;
    color: #000;
}

.longevity-container input {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 35px 0;
    box-sizing: border-box;
}

#GetStatus-btn {
    float: left;
    background-color: #1784af;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 34px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#GetStatus-btn:hover {
    background-color: deepskyblue;
}

/* 段落容器样式 */
.paragraph-container {
    position: relative;
}

.paragraph-container p {
    position: absolute;
    left: 30px;
    top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 30px;
}