* {
    margin: 0 10px 0 0;
    padding: 0;
    font-family: "Microsoft YaHei UI", Times, serif;
}

body {
    font-family: 'Arial', sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
}

/*h1 {
    color: white;
    top: 180px;
    margin-bottom: 10px;
    font-size: 50px;
    white-space: nowrap;
}*/

label {
    display: block;
    margin: 10px 20px;
    font-size: 50px;
    text-align: left;
    color: black;
}

title {
    font-weight: bold;
}
input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.Status-Container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
}

#GetStatus-btn {
    background-color: #1784af;
    color: white;
    border: none;
    width: 10%;
    padding:  10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#GetStatus-btn:hover {
    background-color: deepskyblue;
}

.Head-Container {
    background-color: whitesmoke; /* 登录框背景色 */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* 模拟光晕效果 */
    width: 100%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}

.Body-Container {
    background-color: whitesmoke; /* 登录框背景色 */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* 模拟光晕效果 */
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}

.Back-Container {
    /*background-color: whitesmoke; !* 登录框背景色 *!*/
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* 模拟光晕效果 */
    width: 100%;
    text-align: center;
    justify-content: center;
}