<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>故障检测</title>
    <!-- 外部CSS链接 -->
    <link rel="stylesheet" th:href="@{/css/Fix_style.css}">
</head>
<body>
<div class="longevity-container">
    <form th:action="@{/Fix}" method="post">
        <label for="VehicleID">请输入车辆id：</label>
        <input type="text" id="VehicleID" name="VehicleName" placeholder="请输入车辆id">
        <button id="GetStatus-btn" type="submit">检测</button>
    </form>
    <div class="paragraph-container">
        <p>故障类型：<span th:text="${Wrong}"></span></p>
    </div>
</div>
<script th:if="${alertMessage}">
    alert([[${alertMessage}]]);
</script>
</body>
</html>
